.my-toast {
    display: block;
    background-color: #343843;
}

.my-toast .progress {
    min-width: 200px;
}

.my-toast .text:after {
    content: attr(data-progress);
    float: right;
    margin-left: 10px;
}
